doctype html
html(lang="en")
	head
		title= nudg-r
		link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css')
		link(href='css/animate.css' rel='stylesheet' type='text/css')
		link(href='css/style.css' rel='stylesheet' type='text/css')

	body#shimmer
		h1 Welcome to nudg-r
			h2 ... a beautiful work in progress ...